/* =======================================
 *
 * NEWSLETTER TYPOGRAPHY
 *
 *
 * NOTE: This file contains css specific typography settings
 *
 *
 * ======================================= */


$newsletter_base_font_color:                        #000
$main_background_color:                             #ededed

body
  background: $main_background_color
  font:
    family: "SourceSansPro-Regular", sans-serif
    size: 16px
    weight: normal

h1
  font-family: "SourceSansPro-Bold"
